{% extends "base.html" %}

{% block title%}post_all.html{% endblock %}

{% block content %}
<h1>Blog List</h1>
<br>
<p class="message">
	데이터사이언스 랩의 블로그입니다. 정규세션 이외의 활동(심화 스터디, 외부 대회 등)을 기록합니다.
<p>
<br>

{% for post in posts %}
	<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
		{{ post.modify_dt|date:"N d, Y" }}
		<p>{{ post.description }}</p>
{%endfor %}	

<br>
<span align="center">
	{% if page_ob.has_previous %}
		<a href="{{ page_obj.get_previous.get_absolute_url }}">Prev</a>
	{% else %}
		<span>Prev</span>
	{% endif %}

	Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

	{% if page_ob.has_next %}
		<a href="{{ page_obj.get_previous.get_absolute_url }}">Next</a>
	{% else %}
		<span>Next</span>
	{% endif %}
{% endblock %}