{% extends "blog/base.html" %}

{% block title%}blogpost_detail.html{% endblock %}

{% block content %}

<h3>{{ object.title }}</a></h3>

<p class="post-date">{{ object.modify_dt|date:"d M Y" }}</p>

<div class="hr"></div>

<div class="body">{{ object.content|linebreaks }}</div>

<div>
	<b>TAGS</b> <i class="fas fa-tag"></i>
	{% load taggit_templatetags2_tags %}
	{% get_tags_for_object object as "tags %}
	{% for tag in tags %}
	<a href="{% url 'blog:post_tag_list' tag.name %}"><span class="btn btn-info btn-sm mx-1">{{ tag.name }}</span></a>
	{% endfor %}
</div>

<br>

<h4>Comments</h4>

<form action="." method="post">{% csrf_token %}
	<button class='btn'>
		{% if user_likes %}
		<i class="fas fa-heart" style="color:red; font-size: 17px;"></i>
		{% else %}
		<i class="far fa-heart" style="color:red; font-size: 17px;"></i>
		{% endif %}
	</button>
	<span class="small">
		{% if user_likes %}
		{{ user }} 님 외 {{ object.like_count }}명이 이 게시물을 좋아합니다
		{% else %}
		{{ object.like_set.first.user }} 님 외 {{ object.like_count }}명이 이 게시물을 좋아합니다
		{% endif %}
	</span>
</form>

<div class="hr"></div>

<div>
	<form action="." method="post">{% csrf_token %} {{ form.as_p }}
	<input type="submit" name="comment" value="Post as {{ user }}" class="btn btn-sm btn-info" style="float:right;">
	</form>
	<br><br>
</div>

<div>
	<ul>
		{% for comment in object.comment_set.all %}
		<li>
			<div class="comment">
				<header>
					<span>{{ comment.owner }}</span>
					<span class="post-date">{{ comment.modify_dt|timesince }} ago</span>
				</header>
				<body>{{ comment.content|linebreaks }}</body>
			</div>
			<br/>
		</li>
		{% endfor %}
	</ul>
</div>




{% endblock %}